!src/config

web/node_modules/
web/public/
web/bower_components/
app.config.coffee

config/

dist
build/Release
lib-cov
coverage
.grunt
.lock-wscript
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed



